.button_wrap {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button_wrap button {
  padding: 10px;
  border-radius: 10px;
}

.reset {
  opacity: 0;
  visibility: hidden;
  background-color: #f45252;
  color: #fff;
  transition: all 250ms ease-in-out;
}

.reset.show {
  opacity: 1;
  visibility: visible;
}
