@import "modern-normalize/modern-normalize.css";

*,
::after,
::before {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
